html {
    display: table;
    margin: auto;
}

body {
	background-color: rgba(141, 249, 224, 0.71);
}

h1{
	color:rgba(232, 86, 126, 0.94);
}

.error{
	color:red;
}

.colonne{
	display: flex;
	flex-direction: column ;
}

.bold{
	width: 100%;
	font-weight: bold;
}

.sub{
	display: flex;
	margin: 10px;
	justify-content: flex-end;
}